.App {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 99%;
    height: 50%;
    border: 0px solid black;
    padding: 15% 0px 0px;
}